  @reset-global mobile;
  p,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img,
  span {
  	margin: 0;
  	padding: 0;
  }
  
  html,
  body {
  	color: #555555;
  	background-color: #fafafa;
  	-webkit-overflow-scrolling: touch;
  	user-select: none;
  	padding: 0;
  	margin: 0;
  	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
  
  a {
  	color: inherit;
  	text-decoration: none;
  }
  
  .page-back {
  	display: inline-block;
  	top: 12px;
  	left: 10px;
  	position: absolute;
  	width: 40px;
  	height: 40px;
  	text-align: center;
  	i {
  		font-size: 24px;
  		line-height: 40px;
  	}
  }
  
  .page-header-main {
  	margin-top: 50px;
  	min-height: 120vh;
  	margin-bottom: 55px;
  }
  
  .page-tabbar {
  	overflow: hidden;
  	height: 100vh;
  }
  
  .page-wrap {
  	overflow: auto;
  	height: 100%;
  	padding-bottom: 100px;
  }
  
  header.mint-header {
  	height:50px;
  	background-color: #f05e49;
  }
  
  header.mint-header i {
  	font-size: 26px;
  }
  
  div.page-wrap {
  	background-color: #eeeeee;
  }
  
  div.mint-tabbar {
  	background-image: none;
  	background-color: #eeeeee;
  }
  
  div.mint-tabbar> .mint-tab-item.is-selected {
  	background: none;
  	color: #f0624d;
  }
  
  div.mint-navbar .mint-tab-item{
  	padding: 0.75rem;
  	color: #282828;
  }
  div.mint-navbar .mint-tab-item .mint-tab-item-label{
  	font-size: 1rem;
  }
  div.mint-navbar .mint-tab-item.is-selected{
  	border-bottom: 0.2rem solid #f05e49;
  	color: #282828;
  }
